body{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#outer{
   // display: flex;
   width: 900px;
   height: 450px;
   background-color: bisque;
   padding: 10px;
   
} 

#inner{
    // display: flex;
   width: 700px;
   height: 250px;
   background-color: rgb(13, 126, 174);
   padding: 10px;
}


// div{
//     background-color: aliceblue;
//     float: left;
//     padding: 5px;
//     width: 80px;
//     height: 80px;
//     margin: 20px;
// }

